*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  width: 100%;
  height: 100%;
}

.container{
  height: 100vh;
  overflow: hidden;
  background: url(https://www.royalchallengers.com/PRRCB01/public/styles/1061x767_landscape/public/2025-06/_AIL8656.jpg?itok=vcdm3E9V) no-repeat center center / cover;
  background-position: center 30%;
}
.title{
  width: 80%;
  max-width: 1500px;
  text-align: center;
  font-size: 50px;
  margin: 20px auto;
  background-color: black;
  color: white;
  padding: 20px;
  border-radius: 30px;
}
.players{
  max-width: 2500px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.captions{
  width: 350px;
  height: 350px; 
  /* background-color: red;   */
  position: relative;
}
.caption {
  position: absolute;
  top:10px
}
.caption-name {
  position: absolute;
  top: 240px;
  font-size: 30px;
  left: 60px;
  color: white;
  font-weight: bold;
  text-shadow: 10px 10px 10px rgba(0,0,0,0.8);
}
.name2 {
  position: absolute;
  top: 220px;
  font-size: 30px;
  left: 60px;
  color: white;
  font-weight: bold;

}
.main{
  position: absolute;
  top: 270px;
  left: 100px;
  color: white;
  font-weight: bold;
}
.players-flag{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}
.player-wrapper{
  display: grid;
  grid-template-columns: repeat(4 ,250px);
  gap:20px;
}
.player{
  width: 450px;
  height: 350px;
}
.player {
  position: absolute;
  top: 250px;
  left: 40px;
  color: white;
  font-weight: bold;
}
.player1{
  position: absolute;
  top: 480px;
  left: 200px;
}
.player2{
  position: absolute;
  top: 480px;
  left:470px
}
.player3{
  position: absolute;
  top: 480px;
  left:750px
}
.player4{
  position: absolute;
  top: 480px;
  left:1000px
}
.player5{
  position: absolute;
  top: 480px;
  left:1260px
}
.player6{
  position: absolute;
  top: 480px;
  left:1500px
}
.player7{
  position: absolute;
  top: 800px;
  left:310px
}
.player8{
  position: absolute;
  top: 800px;
  left:570px
}
.player9{
  position: absolute;
  top: 800px;
  left:840px
}
.player10{
  position: absolute;
  top: 800px;
  left:1100px
}
.player11{
  position: absolute;
  top: 800px;
  left:1330px
}
.flag-wrapper{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content:space-around;
  gap: 20px;
  margin: 0 auto;
  position: relative;
}
.team-flag{
  width: 350px;
  height: 300px;
  background-color: black;
  position: absolute;
  bottom: 40px;
  right: 900px;
}
.team-details{
  width: 500px;
  height: 300px;
  background-color: black ;
  padding: 20px;
  position: absolute;
  bottom: 40px;
  color: white;
  left: -205px;
}
.team-details h1 {
  margin-bottom: 10px;
}

.team-details ul li {
  margin-top: 10px;
  margin-bottom: 10px;
  list-style: none;
}
.team-details ul li span{
 font-weight: 300;
 font-size: 25px;
 margin-right: 10px;
}
.change{
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.change button {
  padding: 30px;
  font-size: 30px;
  background-color: black;
  width: 400px;
  color: white;
  border-radius: 20px;
  position: absolute;
  top:670px;
  left: 850px;
}
button:active {
  scale: 0.85;
}